body{
margin: 0;
padding: 0;
min-height: 100%;
}

html{
    100%;
}

#header{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 75px;
    width: 100%;
    background-color: #aa160b; 
}

#yelp-section{
    margin: 10px 0 0 180px;
    float: left;
}

#yelp{
    width: 110px;
}

#icon-section{
    width: 30px;
    float: left;
    margin: 10px -5px 0 0;
}

#icon{
    width: 100%;
    margin: 0 0 0 0;
}

#search-section{
    clear: both;
    position: absolute;
    top: 13px;
    left: 300px;
    margin: 10px 0 0 0;
    width: 650px;
    height: 50px;
}

#find, #near{
    margin: 0 10px 0 0;
    padding: 0;
    display: inline;
    font-family: 'avenir_next_boldbold';
}

#location-section, #find-section, #write-review{
    background-color: white;
    width: 250px;
    display: inline;
}


#find-section{
    float: left;
    margin-right: 10px;
    padding: 3px 8px 3px 8px;
    border-radius: 3px;
}

.input{
    border: none;
}

#location-section{
    float: left;
    margin-right: 10px;
    padding: 3px 8px 3px 8px;
    border-radius: 3px;
}

#search-button{
    font-family: 'avenir_next_regularregular';
    margin-top: 1px;
    background-color: #aa160b;
    border-radius: 5px;
    border: 1px solid #c13e37;
    padding-top: 5px;
    padding-bottom: 0;
}

#search-pic{
    width: 20px;
}

/* The side navigation menu */
.sidenav {
    min-height: 100%;
    width: 180px; 
    position:absolute; 
display:block;
    top: 75px;
    left: 0;
    background-color: #aa160b; 
    font-family: 'avenir_next_regularregular';
    margin: 0;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    display: block;
    font-family: 'avenir_next_regularregular';
    border: solid 2px #6b0d0b;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus {
    color: #818181;
    cursor: pointer;
    font-family: 'avenir_next_regularregular';
}

.container{
    width: 1000px;
    min-height: 100%;
    left: 180px;
    top: 70px;
    position: absolute;
    clear: both;
    overflow: hidden;
}

#business-name{
    font-family: 'avenir_next_boldbold';
    margin: 20px 0 0 30px;
}

.business-name{
    font-family: 'avenir_next_boldbold';
    margin: 20px 0 0 30px;
    display: inline-block;
}

.subtitle{
    font-family: 'avenir_next_boldbold';
    margin: 0 0 0 10px;
    color: #c13e37;
    display: inline-block;
}

#rating-section{
    clear: both;
}

.rating{
    margin: 0 5px 0 30px;
    display: inline-block;
    float: left;
}

.numratings{
    font-family: 'avenir_next_regularregular';
    color: gray;
    position: block;
    display: inline-block;
    font-size: 16px;
    margin: 2px 0 0 0;
    padding: 0;
}

#top-section{
    clear: both;
    width: 800px;
 
}

.left-section{
    float: left;
    width: 470px;
    display: inline-block;
}

#locationpic-section{
    display: inline-block;
    margin: -30px 0 0 0;
    width: 200px;
}

#location-pic{
    border: 2px solid #aa160b;
    width: 200px;
}

#link{
    color: darkblue;
    text-decoration: underline;
}

.main-info{
    font-family: 'avenir_next_boldbold';
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 32px;
}

.main-info li{
    font-size: 16px;
    line-height: 18px;
}

#description-title{
    margin:0;
    padding: 0;
    font-family: 'avenir_next_boldbold';
    color: #c13e37; 
}

#description-section{
    font-family: 'avenir_next_regularregular';
    float: left;
    width: 370px;
    margin: 0 90px 0 30px;
    
}

#description-text{
    width: 350px;
    padding: 0;
    margin: 0;
}

#hours-section{
    font-family: 'avenir_next_regularregular';
    width: 200px;
    float: left;
    margin: 30px 0 0 0;
}

#hours-title{
    margin:0;
    padding: 0;
    font-family: 'avenir_next_boldbold';
    color: #c13e37;
}

.hours-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    line-height: 22px;
}

#info-title{
    margin:0;
    padding: 0;
    font-family: 'avenir_next_boldbold';
    color: #c13e37;  
}

#more-info-section{
    display: block;
    width: 700px;
    margin: 0 0 0 30px;
}

.middle-section{
    margin: 0;
    width: 1000px;
    display: block;
    height: 220px;
}

.bottom-section{
    display: block;
    clear: both;
}

.info-list{
    font-family: 'avenir_next_regularregular';
    font-size: 15px;
    list-style-type: none;
    margin: 5px 0 0 3px;
    padding: 0;
    float: left;
}

.info-list li{
    line-height: 17px;
}

.p1{
    display: inline-block;
    font-family: 'avenir_next_boldbold';
    margin-right: 5px;
}

#list2{
    display: inline-block;
    margin: 5px 0 0 90px;
}

#get-rating{
    clear: both;
}

#review-title{
    font-family: 'avenir_next_regularregular';
    font-size: 15px;
    margin: 0 0 0 30px;
    display: inline-block;
    float: left;
}

#review-rating{
    margin: 0 0 0 100px;
    display: inline-block;
}

#review-input{
    width: 500px;
    height: 50px;
    margin: 0 0 0 30px;
}

#submit-review{
    margin: 0 0 0 480px;
}

#submitted-review{
    font-family: 'avenir_next_boldbold';
    color: #c13e37; 
    margin: 20px 0 0 30px;
}

.review{
    clear: both;
    width: 800px;
}

.review-user{
    float: left;
    width: 100px;
}

.review-pic{
    width: 100px;
    height: 100px;
    margin: 0 0 0 30px;
    display: inline-block;
}

.review-name{
    font-family: 'avenir_next_boldbold';
    margin: 0 0 0 30px;
    width: 100px;
    text-align: center;
}

.review-num{
    font-family: 'avenir_next_regularregular';
    font-size: 10px;
    margin: 0 0 5px 30px;
    width: 100px;
    text-align: center;
}

.review-btn{
    width: 100px;
    margin: 0 0 10px 30px;
    text-align: center;
}

.review-rating{
    width: 100px;
    margin: 0 0 0 30px;
}

.review-text{
    font-family: 'avenir_next_regularregular';
    font-size: 15px;
    margin: 0 0 0 50px;
    width: 400px;
    display: inline-block;
}

hr {
    margin: 10px;
}

.food{
    height: 200px;
    margin: 20px 0 0 30px;
}

.menu{
    width: 400px;
    margin: 20px 0 0 30px;
}

textarea:focus, input:focus{
    outline: none;
}

#ads{
    width: 200px;
    height: 600px;
    margin: 80px 0 0 900px;
    display: inline-block;
    font-family: 'avenir_next_regularregular';
}

#sponsor{
    color: gray;
    font-size: small;
    margin: 20px 0 20px 0;
}

.ad-title{
    margin: 0;
    padding: 0;
}

.ad-pic{
    margin: -10px 0 0 0;
    padding: 0;
    width: 90px;
}

.ad{
    border: 1px solid lightgray;

    width: 160px;
    padding: 10px 0px 10px 10px;
    margin-bottom: 20px;
}

#auth-area {
    position:absolute;
    top:0;
    left: 950px;
    min-width: 150px;
    margin-top: 5px;
    width: auto;
    z-index: 10;
}

#auth-buttons, #auth-form {
    min-height: 0px;
    margin-bottom: 15px;
    font-size: small;
}

#linedetail{
    display: inline-block;
    color: white;

}

#login-button, #signup-button, #logout-button, #username {
    background-color: transparent;
    font-weight: 400;
    border: none;
    font-family: 'avenir_next_regularregular';
    display: inline-block;
    color: gray;
    font-size: small;
    color: white;
    margin-left: auto;
    margin-right: auto;
    min-height: 10pt;
}

.postFront{
    font-family: 'avenir_next_regularregular';
    width: 180px;
    float: left;
    height: 150px;
    display: inline-block;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
    vertical-align: middle;
}
.postImage{
    font-family: 'avenir_next_regularregular';
    width: 100%;
    display: inline-block;
    height: auto;
    vertical-align: middle;
    margin-left: 30px;
}

.postDescription{
    font-family: 'avenir_next_regularregular';
    font-size: small;
    margin: 0;
}

.price{
   font-family: 'avenir_next_boldbold';
   display: inline-block;
   font-size: small; 
}

.distance{
    font-family: 'avenir_next_regularregular';
    color: #2f398e;
    text-decoration: underline;
    font-size: small;
}

.postTitle{
    font-family: 'avenir_next_boldbold';
    font-size: medium;
    margin-bottom: 0;
}

.description{
    font-family: 'avenir_next_regularregular';
    padding: 0;
    margin: 0 0 0 0;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: x-small;
    display: inline;
}

.postText{
    font-family: 'avenir_next_regularregular';
    width: 300px;
    padding-left: 2%;
    float: left;
}

.postAddress{
    font-family: 'avenir_next_regularregular';
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 18px;
    margin-top: 50px;
}

.newPost{
    font-family: 'avenir_next_regularregular';
    width: 700px;
    margin: 0;
    position: relative;
    clear: both;
}
.post-rating{
    width: 100px;
}
