body{
margin: 0;
padding: 0;
}

#header{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 75px;
    width: 100%;
    background-color: #aa160b; 
}

#yelp-section{
    margin: 10px 0 0 180px;
    float: left;
}

#yelp{
    width: 110px;
}

#icon-section{
    width: 30px;
    float: left;
    margin: 10px -5px 0 0;
}

#icon{
    width: 100%;
    margin: 0 0 0 0;
}

#search-section{
    clear: both;
    position: absolute;
    top: 13px;
    left: 300px;
    margin: 10px 0 0 0;
    width: 650px;
    height: 50px;
}

#find, #near{
    margin: 0 10px 0 0;
    padding: 0;
    display: inline;
    font-family: 'avenir_next_boldbold';
}

#location-section, #find-section, #write-review{
    background-color: white;
    width: 250px;
    display: inline;
}


#find-section{
    float: left;
    margin-right: 10px;
    padding: 3px 8px 3px 8px;
    border-radius: 3px;
}

.input{
    border: none;
}

#location-section{
    float: left;
    margin-right: 10px;
    padding: 3px 8px 3px 8px;
    border-radius: 3px;
}

#submit-button, #submit-review{
    font-family: 'avenir_next_regularregular';
    margin-top: 8px;
}


/* The side navigation menu */
.sidenav {
    height: 100%; 
    width: 180px; 
    position: absolute;
    top: 75px;
    left: 0;
    background-color: #aa160b; 
    font-family: 'avenir_next_regularregular';
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    display: block;
    font-family: 'avenir_next_regularregular';
    border: solid 2px #6b0d0b;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus {
    color: #818181;
    cursor: pointer;
    font-family: 'avenir_next_regularregular';
}

.container{
    width: 1000px;
    height: 100%;
    left: 180px;
    top: 70px;
    position: absolute;
    clear: both;
}

#business-name{
    font-family: 'avenir_next_boldbold';
    margin: 20px 0 0 30px;
}

.business-name{
    font-family: 'avenir_next_boldbold';
    margin: 20px 0 0 30px;
    display: inline-block;
}

.subtitle{
    font-family: 'avenir_next_boldbold';
    margin: 0 0 0 10px;
    color: #c13e37;
    display: inline-block;
}

#rating-section{
    clear: both;
}

.rating{
    margin: 0 5px 0 30px;
    display: inline-block;
    float: left;
    font-family: 'avenir_next_regularregular';
}

.numratings{
    font-family: 'avenir_next_regularregular';
    color: gray;
    position: block;
    display: inline-block;
    font-size: 16px;
    margin: 2px 0 0 0;
    padding: 0;
}

#top-section{
    clear: both;
    width: 800px;
 
}

.left-section{
    float: left;
    width: 420px;
    display: inline-block;
}

#locationpic-section{
    display: inline-block;
    margin: -30px 0 0 0;
    width: 200px;
}

#location-pic{
    border: 2px solid #aa160b;
    width: 200px;
}

.main-info{
    font-family: 'avenir_next_boldbold';
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 32px;
}

.main-info li{
    font-size: 16px;
    line-height: 18px;
}

#description-title{
    margin:0;
    padding: 0;
    font-family: 'avenir_next_boldbold';
    color: #c13e37; 
}

#description-section{
    font-family: 'avenir_next_regularregular';
    float: left;
    width: 320px;
    margin: 30px 90px 0 30px;
    
}

#description-text{
    width: 350px;
    padding: 0;
    margin: 0;
}

#hours-section{
    font-family: 'avenir_next_regularregular';
    width: 200px;
    float: left;
    margin: 30px 0 0 0;
}

#hours-title{
    margin:0;
    padding: 0;
    font-family: 'avenir_next_boldbold';
    color: #c13e37;
}

.hours-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    line-height: 22px;
}

#info-title{
    margin:0;
    padding: 0;
    font-family: 'avenir_next_boldbold';
    color: #c13e37;  
}

#more-info-section{
    display: block;
    width: 700px;
    margin: 0 0 0 30px;
}

.middle-section{
    margin: 0;
    width: 800px;
    display: block;
    height: 220px;
}

.bottom-section{
    display: block;
    clear: both;
}

.info-list{
    font-family: 'avenir_next_regularregular';
    font-size: 15px;
    list-style-type: none;
    margin: 10px 0 0 3px;
    padding: 0;
    float: left;
}

.info-list li{
    line-height: 17px;
}

.p1{
    display: inline-block;
    font-family: 'avenir_next_boldbold';
    margin-right: 5px;
}

#list2{
    display: inline-block;
    margin: 10px 0 0 100px;
}

#review-input{
    width: 500px;
    height: 50px;
    margin: 0 0 0 30px;
}

#submit-review{
    margin: 0 0 0 480px;
}

#submitted-review{
    font-family: 'avenir_next_boldbold';
    color: #c13e37; 
    margin: 20px 0 0 30px;
}

.review{
    clear: both;
    width: 800px;
}

.review-user{
    float: left;
    width: 100px;
}

.review-pic{
    width: 100px;
    height: 100px;
    margin: 0 0 0 30px;
    display: inline-block;
}

.review-name{
    font-family: 'avenir_next_boldbold';
    margin: 0 0 0 30px;
    width: 100px;
    text-align: center;
}

.review-rating{
    width: 100px;
    margin: 0 0 0 30px;
}

.review-text{
    font-family: 'avenir_next_regularregular';
    font-size: 15px;
    margin: 0 0 0 50px;
    width: 400px;
    display: inline-block;
}

hr {
    margin: 10px;
}

.menu{
    height: 110%;
    margin: 20px 0 0 30px;
}
