body, html{
	margin: 0;
	padding: 0;
	background-color: white;
}
#auth-area {
    position:absolute;
    top:0;
    right:0;
    margin-top: 10px;
    margin-right: 15px;
    width: auto;
}

#auth-buttons, #auth-form {
    min-height: 0px;
    margin-bottom: 15px;
    font-size: small;
}

#linedetail{
    display: inline-block;
    color: gray;

}

#login-button, #signup-button, #logout-button, #username {
    background-color: white;
    font-weight: 400;
    border: none;
    font-family: 'avenir_next_regularregular';
    display: inline-block;
    color: gray;
    font-size: small;
    margin-left: auto;
    margin-right: auto;
    min-height: 10pt;
}

#login-button:hover, #login-button:focus, #signup-button:hover, #signup-button:focus,
#logout-button:hover, #logout-button:focus{
    color: red;
    cursor: pointer;
}
.container{
	width: 90%;
	height: 700px;
	padding: 0;
	margin: 0 auto 0 auto;
	/*background-color: yellow;*/
}

#title-section{
	/*background-color: pink;*/
	width: 700px;
	height: 200px;
	margin: 0 auto 0 auto;
	clear: both;
}

#yelp-section{
	margin: 80px 0 0 0;
	float: left;
}

#yelp{
	width: 300px;
}

#icon-section{
	width: 100px;
	float: left;
	margin: 100px 0 0 -30px;
}

#icon{
	width: 100%;
	margin: -30px 0 0 0;
}

textarea:focus, input:focus{
    outline: none;
}

#search-section{
	clear: both;
	margin: 0 auto 0 auto;
	width: 620px;
	height: 50px;
	
}

#find, #near{
	margin: 0 10px 0 0;
    padding: 0;
    display: inline;
    font-family: 'avenir_next_boldbold';
}

#location-section, #find-section{
	background-color: white;
	width: 250px;
	display: inline;
}


#find-section{
	float: left;
	margin-right: 10px;
	padding: 3px 8px 3px 8px;
	border-radius: 3px;
	border: solid 3px #aa160b;

}

.input{
	border: none;
	width: 200px;
}

#location-section{
	float: left;
	margin-right: 10px;
	padding: 3px 8px 3px 8px;
	border-radius: 3px;
	border-color: #aa160b;
	border-radius: 3px;
	border: solid 3px #aa160b;
}

#search-button{
	font-family: 'avenir_next_regularregular';
	margin-top: 3px;
	background-color: #aa160b;
	border-radius: 5px;
	border: 1px solid #aa160b;
	padding-top: 5px;
	padding-bottom: 0;
}

#search-pic{
	width: 20px;
}

#topic-section{
	clear: both;
	margin: 40px auto 0 auto;
	padding-left: -20px;
	width: 780px;
	z-index: 10;
	position: relative;
}

.topic:hover{
	cursor: pointer;
}

#restaurant-pic{
	width: 200px;
	float: left;
	margin: 0 -10px 0 0;
}

#shopping-pic{
	width: 200px;
	float: left;
	margin-right: -10px;
}

#more-pic{
	width: 200px;
}

#nightlife-pic{
	width: 200px;
	margin-right: -10px;
}

#label-section{
	clear: both;
	width: 780px;
	margin: 0 auto 0 auto;
	padding-left: 95px;
}
.label{
	font-family: 'avenir_next_regularregular';
	color: #c41200;
	float: left;
	margin: 0 100px 0 0;

}

#nightlife-label{
	margin-right: 130px;
}

#shopping-label{
	margin-right: 110px;
}
