body, html{
	margin: 0;
	padding: 0;
	background-color: white;
}

.container{
	width: 90%;
	height: 700px;
	padding: 0;
	margin: 0 auto 0 auto;
	/*background-color: yellow;*/
}

#title-section{
	/*background-color: pink;*/
	width: 700px;
	height: 200px;
	margin: 0 auto 0 auto;
	clear: both;
}

#yelp-section{
	margin: 80px 0 0 0;
	float: left;
}

#yelp{
	width: 300px;
}

#icon-section{
	width: 100px;
	float: left;
	margin: 100px 0 0 -30px;
}

#icon{
	width: 100%;
	margin: -30px 0 0 0;
}

textarea:focus, input:focus{
    outline: none;
}

#search-section{
	clear: both;
	margin: 0 auto 0 auto;
	width: 640px;
	height: 50px;
	/*background-color: orange;*/
}

#find, #near{
	margin: 0 10px 0 0;
    padding: 0;
    display: inline;
    font-family: 'avenir_next_boldbold';
}

#location-section, #find-section{
	background-color: white;
	width: 250px;
	display: inline;
}


#find-section{
	float: left;
	margin-right: 10px;
	padding: 3px 8px 3px 8px;
	border-radius: 3px;
	border: solid 3px #aa160b;

}

.input{
	border: none;
}

#location-section{
	float: left;
	margin-right: 10px;
	padding: 3px 8px 3px 8px;
	border-radius: 3px;
	border-color: #aa160b;
	border-radius: 3px;
	border: solid 3px #aa160b;
}

#submit-button{
	font-family: 'avenir_next_regularregular';
	margin-top: 8px;
}

#topic-section{
	clear: both;
	margin: 85px auto 0 auto;
	width: 770px;

	z-index: 10;
	position: relative;
}

.topic:hover{
	cursor: pointer;
}

#restaurant-pic{
	width: 150px;
	float: left;
	margin: 0 30px 0 0;
}

#shopping-pic{
	width: 150px;
	float: left;
	margin-right: 60px;
}

#more-pic{
	width: 150px;
}

#nightlife-pic{
	width: 150px;
	margin-right: 60px;
}

#label-section{
	clear: both;
	width: 770px;
	margin: 15px auto 0 auto;
	padding-left: 65px;
}
.label{
	font-family: 'avenir_next_regularregular';
	color: #c41200;
	float: left;
	margin: 0 80px 0 0;

}

#nightlife-label{
	margin-right: 150px;
}

#shopping-label{
	margin-right: 135px;
}

    #circle {
      width: 200px;
      height: 200px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px;
      background: #c41200;
      position: absolute;
      z-index: 0;
      top: 350px;
      left: 100px;
    }

        #circle2 {
      width: 200px;
      height: 200px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px;
      background: #c41200;
      position: absolute;
      z-index: 0;
      top: 350px;
      left: 280px;
    }

            #circle3 {
      width: 200px;
      height: 200px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px;
      background: #c41200;
      position: absolute;
      z-index: 0;
      top: 350px;
      left: 480px;
    }

            #circle4 {
      width: 200px;
      height: 200px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px;
      background: #c41200;
      position: absolute;
      z-index: 0;
      top: 350px;
      left: 680px;
    }
