
#header{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 75px;
    width: 100%;
    background-color: #aa160b; 
    z-index: 0;
}

#auth-area {
    position:absolute;
    top:0;
    left: 950px;
    min-width: 150px;
    margin-top: 5px;
    width: auto;
    z-index: 10;
}

#auth-buttons, #auth-form {
    min-height: 0px;
    margin-bottom: 15px;
    font-size: small;
}

#linedetail{
    display: inline-block;
    color: white;

}

#login-button, #signup-button, #logout-button, #username {
    background-color: transparent;
    font-weight: 400;
    border: none;
    font-family: 'avenir_next_regularregular';
    display: inline-block;
    color: gray;
    font-size: small;
    color: white;
    margin-left: auto;
    margin-right: auto;
    min-height: 10pt;
}

#login-button:hover, #login-button:focus, #signup-button:hover, #signup-button:focus,
#logout-button:hover, #logout-button:focus{
    color: red;
    cursor: pointer;
}

#yelp-section{
    margin: 10px 0 0 180px;
    float: left;
}

#yelp{
    width: 110px;
}

#icon-section{
    width: 30px;
    float: left;
    margin: 10px -5px 0 0;
}

#icon{
    width: 100%;
    margin: 0 0 0 0;
}

#search-section{
    clear: both;
    position: absolute;
    top: 13px;
    left: 300px;
    margin: 10px 0 0 0;
    width: 650px;
    height: 50px;
} 


#find, #near{
    margin: 0 10px 0 0;
    padding: 0;
    display: inline;
    font-family: 'avenir_next_boldbold';
}

#location-section, #find-section{
    background-color: white;
    width: 250px;
    display: inline;
}


#find-section{
    float: left;
    margin-right: 10px;
    padding: 3px 8px 3px 8px;
    border-radius: 3px;
}

.input{
    border: none;
}

#location-section{
    float: left;
    margin-right: 10px;
    padding: 3px 8px 3px 8px;
    border-radius: 3px;
}

#search-button{
    font-family: 'avenir_next_regularregular';
    margin-top: 1px;
    background-color: #aa160b;
    border-radius: 5px;
    border: 1px solid #c13e37;
    padding-top: 5px;
    padding-bottom: 0;
}

#search-pic{
    width: 20px;
}

#wrapper{
    clear: both;
    width: 1090px;
}

#container{
    width: 700px;
    margin: 80px auto 0 150px;
    float: left;
    display: inline-block;
}

#ads{
    width: 200px;
    height: 600px;
    margin: 80px 0 0 30px;
    display: inline-block;
}

#sponsor{
    color: gray;
    font-size: small;
    margin: 20px 0 20px 0;
}

.ad-title{
    margin: 0;
    padding: 0;
}

.ad-pic{
    margin: -10px 0 0 0;
    padding: 0;
    width: 90px;
}

.ad{
    border: 1px solid lightgray;

    width: 160px;
    padding: 10px 0px 10px 10px;
    margin-bottom: 20px;
}

textarea:focus, input:focus{
    outline: none;
}
